.text-with-image {
  margin: 110px 0;
  &.padding-bg {
    padding: 110px 0;
    margin: 0 !important;
  }
  .text-with-image-text {
    max-width: 532px;
    margin-left: auto;
    .title-line {
      width: 270px;
      left: -180px;
      position: absolute;
      top: 100%;
      margin-top: 30px;
    }
  }
  .row {
    &.flex-row-reverse {
      .text-with-image-text {
        margin-left: 0;
        .title-line {
          left: 62px;
          width: 620px;
        }
      }
      .image {
        text-align: right;
      }
    }
  }
  @include mq('large', 'max') {
    margin: 80px 0;
    &.padding-bg {
      padding: 90px 0;
    }
    .text-with-image-text {
      .title-line {
        margin-top: 25px;
      }
    }
  }
  @include mq('medium', 'max') {
    margin: 50px 0;
    &.padding-bg {
      padding: 50px 0;
    }
    .image {
      margin-bottom: 30px;
    }
    .row {
      &.flex-row-reverse {
        .text-with-image-text {
          .title-line {
            left: 22px;
            width: 320px;
          }
        }
      }
    }
  }
}